@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap');
* {
	font-family: 'Comfortaa', cursive;
	color: rgba(51,51,51, 1);
}
p, a {
}
p {
	font-size: 1em;
}
a {
	text-decoration: none;
  font-size: 1.4em;
}
h1 {
	font-size: 3em;
}

body {
	width: calc(100% - 40px);
  height: calc(100vh - 40px);
  margin: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  grid-gap: 30px;
}
figure {
	margin: 0;
} 
figure a {
  display: grid;
  grid-template-areas: "cube";
  align-items: center;
}
figure img {
  width: 100%;
  grid-area: cube;
}
figure p {
  opacity: 0;
  height: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  grid-area: cube;
  text-align: center;
  background: white;
}
figure p:hover {
	opacity: .75;
}